@font-face {
    font-family: SFProDisplay, sans-serif;
    src: 
        url(../../fonts/SFProDisplay/SFProDisplay-Black.eot) format('eot'),
        url(../../fonts/SFProDisplay/SFProDisplay-Black.svg) format('svg'),
        url(../../fonts/SFProDisplay/SFProDisplay-Black.ttf) format('ttf'),
        url(../../fonts/SFProDisplay/SFProDisplay-Black.woff) format('woff'),
        url(../../fonts/SFProDisplay/SFProDisplay-Black.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: SFProDisplay, sans-serif;
    src: 
        url(../../fonts/SFProDisplay/SFProDisplay-Regular.eot) format('eot'),
        url(../../fonts/SFProDisplay/SFProDisplay-Regular.svg) format('svg'),
        url(../../fonts/SFProDisplay/SFProDisplay-Regular.ttf) format('ttf'),
        url(../../fonts/SFProDisplay/SFProDisplay-Regular.woff) format('woff'),
        url(../../fonts/SFProDisplay/SFProDisplay-Regular.woff2) format('woff2');
        font-style: normal;
        font-weight: 400;
}

