section.aboutUs
	.container
		.aboutUs-wrapper
			h2 About Us
			.aboutUs-wrapper-text
				p BerLush is a consultancy firm with a regional network of companies and portable dynamic expertise, working with local, regional and global clients across different industries to provide consultancy that drives optimal results.
				p BerLush is a consultancy firm with a regional network of companies and portable dynamic expertise, working with local, regional and global clients across different industries to provide consultancy that drives optimal results.
			.aboutUs-wrapper-image
				img(src='' alt='meeting')