@use 'Styles/modules/highlight.scss';

// page styles
* {
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #090D1E;
}

header {
    padding: 46px 0 30px 0;
	background-color: transparent;
	border-bottom: 1.5px solid rgba(255,255,255, .5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    font-size: 20px;
    font-weight: 700;
}

.menu li {
    list-style-type: none;
}

.main {
        background-image: url(../../../assets/images/redd-5U_28ojjgms-unsplash\ \(1\)\ 1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        min-height: 1080px;
        padding-top: 100px;
        
    &-wrapper {
        padding-top: 190px;

        h1 {
            color: #FFF;
            font-size: 86px;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 70px;
        
        }

        a {
            // text
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.32px;

            // button
            background-color: #3E41FF;
            padding: 30px 98px;
            display: flex;
            display: inline-block;

        }

        a:hover {
            background-color: #2A2DD4;
        }
    }
}

.aboutUs {
    display: flex;

    &-wrapper {
        background-color: #FFF;
        padding: 100px 160px;
        
        h2 {
            color: #090D1E;
            font-size: 48px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 40px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            p {
                color: #090D1E;
                font-size: 24px;
                font-weight: 400px;
            }
        }

        &-images {
            margin-top: 40px;
            img{
                max-width: 100%;
            }

        }
    }
}

.industries {
    
    &-wrapper {
        &-title {
            padding: 100px 160px 50px 160px;
            h2 {
                color: #FFF;
                font-size: 48px;
                font-weight: 700;
                text-align: center;
            
            }
        }
        &-content {
            display: flex;
            gap: 30px;
            &-title {
                flex-grow: 1;
                flex-basis: 0;
                    h2 {
                        color: #3E41FF;
                        font-size: 48px;
                        font-weight: 700;
                        line-height: 120%;
                    }
                }

                &-card {
                    color: #FFF;
                    background-color: #151929;
                    padding: 30px 0 30px 30px;
                    flex-grow: 1;
                    flex-basis: 0;
                    h2 {
                        font-size: 32px;
                        font-weight: 700;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #FFF;  
                    }
    
                    p {
                        opacity: 0.8;
                        font-size: 24px;
                        font-weight: 400;
                        margin-top: 20px    ;
                        
                    }
                }
            }
        }
    }

    .contacts {
        &-wrapper {
            margin-top: 100px;
            background-color: #FFF;
            padding: 100px 160px 50px 160px;

            &-title {
                margin-bottom: 50px;
                h2 {
                    color: #090D1E;
                    font-size: 48px;
                    font-weight: 700;
                    text-align: center;
                }
            }
            
            &-content {
                display: flex;
                gap: 65px;
                &-info {
                    display: flex;
                    flex-direction: column;
                    gap: 37px;
                    
                    &-card {
                        padding: 25px 0 25px 25px;
                        .card-images {
                            margin-bottom: 5px;
                        }

                        h1 {
                            color: #090D1E;
                            font-size: 32px;
                            font-weight: 700;
                            letter-spacing: 0.32px;
                            margin-bottom: 10px;
                            border-bottom: 1px solid #fff ;
                        }

                        p {
                            margin-top: 10px;
                            color: #151929;
                            font-size: 24px;
                            font-weight: 400;
                            
                        }
                    }
                }
            }

        }
    }

    .footer {

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 100px;
            gap: 72px;
            
            &-menu {
                color: #fff;
                display: flex;
                gap: 40px;
                font-size: 20px;
                font-weight: 700;
                padding: 30px 30px;

                li {
                    list-style-type: none;
                }
            }

            p {
                color: #84868E;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }